@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow: initial;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: raleway;
  src: url("../../public/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}
.fixed-cont {
  width: inherit;
}
