@import "../globals.scss";

*{
    overflow: hidden;
}

.mainDiv{
    overflow: hidden;
    height: max-content;
}

.subMainDiv{
    height: calc(100vh - 79px);
    display: grid;
    grid-template-columns: 600px 1fr;
    overflow: hidden;
    
}

.subMainDiv1{
    background: url('../../../public/signupImage.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.subMainDiv2{
    .subMainDiv2Form{
        margin-top: 55px;
        width: fit-content;

        .signupDiv{
            margin-bottom: 40px;
            font-size: 64px;
            font-weight: 700;
        }

        label{
            font-weight: 500;
            font-size: 12px;
        }

        form{
            width: fit-content;
            .inputDiv{
                position: relative;
            }
        }

        input::placeholder{
            position: inherit;
            width: fit-content;
            font-weight: 200;
            font-family: $mainFont;
            font-size: 14px;
        }
    }
}

.usernameIcon{
    position: absolute;
    top: 43px;
    margin-left: 15px;
}

.emailIcon{
    position: absolute;
    top: 47px;
    margin-left: 15px;
}

.passwordIcon{
    position: absolute;
    top: 50px;
    margin-left: 15px;
}

.submitButton{
  display: block;
  padding: 10px;
  font-family: $mainFont;
  border-radius: 12px;
  background-color: $mainColor;
  width: 25rem;
  margin-top: 8px;
  margin-bottom: 24px;
  position: relative;
  font-weight: 600;
  color: white;
}

.alternateSignin{
    display: flex;
    justify-content: center;
    font-family: $mainFont;

    p:first-child{
        margin-right: 5px;
    }

    p:nth-child(2){
        color: $mainColor;
        font-weight: 500;
        cursor: pointer;
    }
}