@import "../globals.scss";


.subMainDiv{
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 600px 1fr;
}

.subMainDiv1{
    background: url('../../../public/signupImage.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.subMainDiv2{

    .subMainDiv2Form{
        margin-top: 75px;
        margin-left: 100px;

        .signupDiv{
            margin-bottom: 64px;
            font-size: 64px;
            font-weight: 700;
        }

        label{
            font-weight: 500;
        }

        form{
            width: fit-content;
            .inputDiv{
                position: relative;
            }
        }

        input::placeholder{
            position: inherit;
            width: fit-content;
            font-weight: 200;
            font-family: $mainFont;
            font-size: 14px;
        }
    }
}

.usernameIcon{
    position: absolute;
    top: 43px;
    margin-left: 15px;
}

.emailIcon{
    position: absolute;
    top: 47px;
    margin-left: 15px;
}

.passwordIcon{
    position: absolute;
    top: 49px;
    margin-left: 15px;
}

.submitButton{
  font-size: 20px;
  display: block;
  padding: 10px;
  font-family: '$mainFont';
  border-radius: 12px;
  background-color: $mainColor;
  width: 30rem;
  margin-top: 8px;
  margin-bottom: 24px;
  position: relative;
  padding-left: 45px;
  border: solid rgb(184, 184, 184) 1px;
  position: relative;
  font-family: $mainFont;
  font-weight: 700;
  color: white;
}

.alternateSignin{
    display: flex;
    justify-content: center;
    font-family: $mainFont;

    p:first-child{
        margin-right: 5px;
    }

    p:nth-child(2){
        color: $mainColor;
        font-weight: 500;
    }
}